<footer style="background-color: black;">
    <hr>
    <p style="text-align: center; color: white;">
         FATEC Regsitro &reg; 2025
    </p>
    <br>     
</footer>
</body>
<script src="/js/script.js"></script>
</html>