<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
 <h1>Bem-vindo a homepage!</h1>
    <hr>
    <ul>
        <li><a href="/animes">Animes</a></li>
        <li><a href="/jogos">Jogos</a></li>
        <li><a href="/quadrinhos">Quadrinhos</a></li>

    </ul>
    <img src="" alt="" width="750px">
<%- include ('partials/footer.ejs') %>
