<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao Node.js e Express.js</title>
</head>
<body>
    <h1>Bem-vindo a homepage!</h1>
    <hr>
    <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/pedidos">Pedidos</a></li>

    </ul>
</body>
</html>