<footer style="background-color: rgb(15, 69, 85);">
    <hr>
    <p style="text-align: center; color: white;">
         Vinícius Freitas &reg; 2025
    </p>
    <br>     
</footer>
</body>
<script src="/js/script.js"></script>
</html>