<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
 <h1>Bem-vindo a homepage!</h1>
    <hr>
    <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/pedidos">Pedidos</a></li>

    </ul>
    <img src="/imgs/Nodejs.png" alt="Imagem de capa" width="750px">
<%- include ('partials/footer.ejs') %>
